.nav-link {
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
  color: white;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: lightgray; /* Bootstrap primary */
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: lightgray; /* Optional: change text color on hover */
}

.navbar {
  height: 70px;
}

.navbar-nav {
  gap: 20px;
}

.navbar-brand {
  font-size: 1.9rem;
  font-weight: bold;
  color: white;
}

.navbar-brand:hover {
  color: lightgray;
}
